<div class="container mt-5">

  <h1>Tasks</h1>

  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between">
        <%= link_to task.title, task_path(task) %>
        <%= link_to 'delete', task_path(task), method: :delete %>
      </li>
    <% end %>
  </ul>

  <hr>
  <%= link_to 'Add Task', tasks_new_path, class: "btn btn-primary" %>

</div>
